@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -100;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
  left: 4%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 84%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 12%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 10s;
}
.background li:nth-child(3) {
  left: 64%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 13s;
}
.background li:nth-child(4) {
  left: 56%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 7s;
}
.background li:nth-child(5) {
  left: 58%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 20s;
}
.background li:nth-child(6) {
  left: 87%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 29s;
}
.background li:nth-child(7) {
  left: 51%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 33s;
}
.background li:nth-child(8) {
  left: 84%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 8s;
}
.background li:nth-child(9) {
  left: 4%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 23s;
}